__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll

.venv/
venv/
env/

*.npy
*.npz
*.csv
*.json
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.mask
*.poni

dist/
build/
*.egg-info/

# Keep curated sample maps in repo
!sample_maps/
!sample_maps/**/
!sample_maps/**/*.npy
!sample_maps/**/*.png
